
<nav class="navbar navbar-fixed-top fixed-top navbar-expand-lg">
    @*<div class="container">*@
    <div class="row col-12">
        <div class="nav navbar-nav">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link">@Localizer.GetLocalizedString("Home")</a>
            <a asp-area="" asp-controller="Home" asp-action="About" class="nav-item nav-link">@Localizer.GetLocalizedString("About")</a>
            <a asp-area="" asp-controller="Home" asp-action="Contact" class="nav-item nav-link">@Localizer.GetLocalizedString("Contact")</a>
        </div>
        <div class="col-sm-10 text-sm-right">
            @await Html.PartialAsync("_SelectLanguage")
        </div>
        @await Html.PartialAsync("_Login")
    </div>
</nav>

@*<nav class="navbar fixed-top navbar-fixed-top navbar-expand-lg">
        <div class="nav navbar-nav">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-item nav-link">@Localizer["TopNavigation.Home"]</a>
            <a asp-area="" asp-controller="Home" asp-action="Course" class="nav-item nav-link">@Localizer["TopNavigation.Courses"]</a>
        </div>
        <div class="col-sm-10 text-sm-right">
            @await Html.PartialAsync("_SelectLanguage")
        </div>
    </nav>*@